.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }

  .center-text{
    text-align: center;
    padding-bottom: 10px;
  }

  .section-books {
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(143,78,182,1) 33%, rgba(0,212,255,1) 100%); */
 padding-bottom: 200px;
  width: 900px;
  border-width: 20px;
  border-style: solid;
  border-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(143,78,182,1) 33%, rgba(0,212,255,1) 100%) 1;
  padding: 50px;
  margin-left: auto;
    margin-right: auto;
  }


  .navlink {
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
   justify-content: center;
}

  